<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="">
<table width="200" border="1">
  <tr>
    <th>Program&nbsp;Name</th>
    <td><input type="text" name="textfield" value="{{  }}"/></td>
  </tr>
  <tr>
    <tH>Upload</th>
    <td>
      <label>
        <input type="file" name="file" />
        </label>
    
   </td></tr>
   <tr>
    <td colspan="2">
      
        <input type="submit" name="Submit" value="Upload" />
    </td>
</tr>
</table>
</form>
<table width="200" border="1">
  <tr>
    <th>Program&nbsp;Name</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Date</th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><a href="">View</a></td>
    <th><a href="">Delete</a></td>
  </tr>

</table>

</body>
</html>
