{% extends 'participants_studentstemplates/student_home.html' %}
{% block body %}
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="row">
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Events Table</h4>
                    <form action="/earts/student_vieweventsload/" method="post"><table width="362" border="1">
                            <div class="pd-10">
                            <h6 class="text-blue h6">Search Events:</h6>
                            <input type="search" name="textfield" class="form-control form-control-sm" placeholder="Search" aria-controls="DataTables_Table_0">
                            <button type="submit" class="btn btn-outline-primary">view</button></div></form>
  						<table class="data-table table stripe hover nowrap" style="width:1200px">
							<thead>
								<tr>
                                  <th >Sl.no</th>
                                    <th>Event Name</th>
                                    <th>Event&nbsp;Date </td>
                                    <th>Event&nbsp;Discription </th>
                                    <th>Link</th>
                                    </tr>
							</thead> {% for i in data %}
							<tbody>
								<tr>
									<td>{{ forloop.counter }}</td>
                                    <td>{{ i.event_name }}</td>
                                    <td>{{ i.event_date }}</td>
                                    <td>{{ i.event_discription }}</td>
                                    <td>
										<div align="center" class="pd-20">
                                                   <a class="btn btn-outline-danger" href="/earts/student_viewprogramsload/{{ i.id }}">View Programs</a>
                                         </div>
									</td>
								</tr>

							</tbody> {% endfor %}
						</table>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}
