<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="/earts/student_uploadprogramspost/">
<table width="200" border="1">
  <tr>
    <th>Program&nbsp;Name</th>
    <td>{{ progobj.program_name }}<input type="hidden" value="{{ praticipationid }}" name="praticipationid"/> <input type="hidden" value="{{ progobj.id }}" name="progobj"/></td>

  </tr>
   <tr>
    <th>Perfomance&nbsp;Name</th>
    <td><input name="text1" type="text"/></td>
    
  </tr>
  <tr>
    <tH>Upload</th>
    <td>
      <label>
        <input type="file" name="file" />
        </label>
    
   </td></tr>
   <tr>
    <td colspan="2">
      
        <input type="submit" name="Submit" value="Upload" />
    </td>
</tr>
</table>
</form>
<table width="200" border="1">
{% for i in perfomanneobj %}
  <tr>
    <th>Program&nbsp;Name</th>
    <td>{{ i.PROGRAMS.program_name }}&nbsp;</td>
  </tr>
  <tr>
    <th>Participant&nbsp;Name</th>
    <td>{{ i.PARTICIPANTS.STUDENT.student_name }}&nbsp;</td>
  </tr>
  <tr>
    <th>Perfomance&nbsp;Name</th>
    <td>{{ i.performance_name }}</td>
  </tr>
  <tr>
    <th><a href="/earts/student_viewperfomanceload/{{ i.id }}">View</a></td>
    <th><a href="/earts/student_deleteperfomance/{{ i.id }}/{{ progobj.id }}/{{ praticipationid }}">Delete</a></td>
  </tr>
    {% endfor %}

</table>

</body>
</html>
