<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/student_load/" method="post">
<br/>
  
  <table  border="1">
  <tr>
    <th width="52">#</th>
    <th width="233">Requested&nbsp;Date </th>
    <th width="92">Status </td>
	<th >Event&nbsp;Name</th>
    <th width="331">Program&nbsp;Name </th>
    <th width="43">Student&nbsp;Name</th>
    <td width="39">&nbsp;</td>
  </tr>
      {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.requested_date}}&nbsp;</td>
    <td>{{ i.status }}&nbsp;</td>
	<td>{{ i.PROGRAMS.EVENTS.event_name}}</td>
    <td>{{ i.PROGRAMS.program_name }}&nbsp;</td>
	<td>{{ i.STUDENT.student_name }}&nbsp;</td>
    <td><a href="/earts/student_deleteprticipation/{{ i.id }}">Delete Request</a></td>
      {% if i.status == "Pending" %}
          <td>Please wait for approval</td>
      {% else %}
    <td><a href="/earts/student_uploadprogramsload/{{ i.PROGRAMS.id }}">Enter Program</a></td>
  {% endif %}

  </tr>
      {% endfor %}
</table>
</form>
</body>
</html>
