{% extends 'programcommitteetemplates/procommittee_home1.html' %}
{% block body %}
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="row">
				<div class="card-box mb-30">
					<div class="pd-20">
                    <h4 class="text-blue h4">Judges Assigned Table</h4>
{#						<form action="/earts/sadmin_viewjudgesassgnload/" method="post"><table width="362" border="1">#}
{#                            <div class="pd-10">#}
{#                            <h6 class="text-blue h6">Search Judges:</h6>#}
{#                            <input type="text" name="textfield" placeholder="Search" />#}
{#                            <button type="submit" class="btn btn-outline-primary">view</button></div></form>#}
					     <div id="DataTables Table_0_filter" class="dataTables_filter" align="center">
					     <div id="DataTables Table_0_filter" class="dataTables_filter" align="right">
                                                   </div>
						<table class="data-table table stripe hover nowrap" style="width:1200px">
							<thead>
								<tr>
                                  <th >Sl.no</th>
                                  <th >Event&nbsp;Name </th>
                                    <th >Program&nbsp;Name</th>
                                     <th>Judge Name</th>
                                     <th>Action</th>
                                    </tr>
							</thead> {% for i in data  %}
							<tbody>
								<tr>
									<td >{{ forloop.counter }}</td>
                                    <td>{{i.EVENTS.event_name}}</td>
                                     <td>{{ i.PROGRAMS.program_name }}</td>
                                     <td>{{ i.JUDGES.judge_name }}</td>
                                     <td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="/earts/procommittee_deletejudgeassgn/{{ i.id }}"><i class="dw dw-delete-2    "></i>Delete</a>
											</div>
										</div>
									</td>
								</tr>

							</tbody> {% endfor %}
						</table>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
                <a href="https://github.com/dropways" target="_blank"></a>
	</div>
{% endblock %}
