<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/earts/student_viewprogramsload/"><table width="767" border="1">
  <tr>
    <th colspan="2">Programs </th>
    <th colspan="2">Program&nbsp;name:&nbsp; <input name="textfield" type="text" /> </th>
    <td colspan="3"><label>
      <input type="submit" name="search" value="Search" />
    </label></td>
  </tr>
  <tr>
    <th width="131" height="33">#</th>
    <th width="140">Program&nbsp;Name </th>
    <th width="185">Program&nbsp;Discription </th>
    <th colspan="2">Event</th>
    <th colspan="2">&nbsp;</th>
    </tr>
    {% for i in prgmsdata  %}
  <tr>
      <td height="61">{{ forloop.counter }}</td>
      <td>{{ i.program_name }}&nbsp;</td>
      <td>{{ i.program_discription}}&nbsp;</td>
      <td colspan="2" >{{i.EVENTS.event_name}}</td>
      <td><a href="/earts/procommittee_viewparticipants/{{ i.id }}">View Participants</a></td>
      <td><a href="/earts/procommittee_assignjudgesload/{{ i.id }}">Assign Judges</a></td>
      <td><a href="/earts/procommittee_scheduleprogload/{{ i.id }}">Schedule Program</a></td>
      <td><a href="/earts/procommittee_viewperfomanceload/{{ i.id }}">View Perfomances</a></td>

  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>