<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>S_ADMIN PROFILE</title>
</head>
<body>
<form action="/earts/procommittee_homeload/" >
<table width="889" border="1">
  <tr>
    <td colspan="3">PROFILE</td>
    </tr>
  <tr>
    <td width="100">Name:</td>
    <td width="584" >&nbsp;{{ a.st_name }}</td>
    <td width="183" rowspan="8"><img src="{{ a.image }}" ></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>{{ a.gender }}</td>
    </tr>
  <tr>
    <td>Place:</td>
    <td>{{ a.place }}</td>
    </tr>
  <tr>
    <td>PIN:</td>
    <td>{{ a.pin }}</td>
    </tr>
  <tr>
    <td>Post:</td>
    <td>{{ a.post }}</td>
    </tr>
  <tr>
    <td>District:</td>
    <td>{{ a.district }}</td>
  </tr>
  <tr>
    <td>Qualification:</td>
    <td>{{ a.qualification }}</td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td>{{ a.email }}</td>
    </tr>
  <tr>
    <td colspan="2"><input name="Back" type="submit" value="Back" />&nbsp;
    <button type="submit" formaction="/earts/changepasswordload/{{ a.LOGIN_id }}">Change Password</button></td>
    </tr>
</table>
</form>

</body>
</html>
