{% extends 'programcommitteetemplates/procommittee_home1.html' %}
{% block body %}
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="row">
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Programs Table</h4>
{#                   {% for j in prgmsdata %} <form action="/earts/procommittee_searchprogramsload/{{ j.id }}" method="post">{% endfor %}#}
{#                         <div id="DataTables Table_0_filter" class="dataTables_filter" align="right">#}
{#                          <label>#}
{#                             <input type="search" class="form-control form-control-sm" name="textfield" placeholder="Search Programs" aria-controls="DataTables_Table_0">#}
{#                              <button type="submit" class="btn btn-outline-primary">Search</button>#}
{#                          </label>#}
{#                        </div></form>#}
						<table class="data-table table stripe hover nowrap" style="width:1200px">
							<thead>
								<tr>
                                  <th >Sl.no</th>
                                    <th >Program&nbsp;Name </th>
                                    <th >Program&nbsp;Type </th>
                                       <th >Program&nbsp;Discription </th>
                                      <th >Event</th>
                                     <th>Actions</th>
                                    </tr>
							</thead> {% for i in prgmsdata %}
							<tbody>
								<tr>
									<td>{{ forloop.counter }}</td>
                                     <td>{{ i.program_name }}</td>
                                     <td>{{ i.program_type}}</td>
                                     <td>{{ i.program_discription}}</td>
                                     <td>{{i.EVENTS.event_name}}</td>
                                     <td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="/earts/procommittee_viewparticipants/{{ i.id }}"><i class="dw dw-view"></i>View Participants</a>
												<a class="dropdown-item" href="/earts/procommittee_assignjudgesload/{{ i.id }}"><i class="dw dw-add-file"></i>Assign Judges</a>
												<a class="dropdown-item" href="/earts/procommittee_viewperfomanceload/{{ i.id }}"><i class="dw dw-view"></i>View Perfomance</a>
												<a class="dropdown-item" href="/earts/procommittee_editprogramsload/{{ i.id }}"><i class="dw dw-edit-2"></i>Edit Programs</a>
											</div>
										</div>
									</td>
                                 </tr>

							</tbody> {% endfor %}
						</table>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}
