<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/procommittee_scheduleprogpost/" method="post"> <input type="hidden" name="progobj" value="{{ progobj.id }}"/><table width="200" border="1">
    <tr>
    <th>Program Name</td>
    <td>{{ progobj.program_name }}</td>
  </tr>
  <tr>
    <th>Choose&nbsp;Date</td>
    <td><input name="date" type="date" /></td>
  </tr>
  <tr>
    <th>Choose&nbsp;Time</td>
    <td><input name="time" type="time"  /></td>
  </tr>
  <tr>
    <td colspan="2"><input value="save" type="submit" /></td>
    </tr>
</table>

</form>
</body>
</html>
