<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/judges_scoreperfomance/" method="post">  <table width="407" border="0">
<input type="hidden" name="perfid" value="{{ perfomance.id }}"/>
<tr>
    <th width="173">Perfomance&nbsp;Name</th>
    <td width="218">{{ perfomance.performance_name }}</td>
  </tr>
  <tr>
    <td  colspan="2"><img src="{{ perfomance.uploaded_files }}" width="500" height="350" ></td>
    </tr>
	 <tr>
    <td  colspan="2">Score :&nbsp;<input type="text" name="score"/></td><tr>
    <td  colspan="2"><button type="submit">Save</button></td></tr>

    </tr>
</table>
</form>
</body>
</html>
