<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/sadmin_editprogramspost/" method="post">
    <input type="hidden" name="programsid" value="{{ programsid.id }}"/>
    <table width="200" border="1">
  <tr>
    <td>Program&nbsp;Name</td>
    <td><input name="text1" type="text"  value="{{ programsid.program_name }}"/></td>
  </tr>
  <tr>
    <td>program&nbsp;Discription</td>
    <td><textarea name="text2" cols="" rows="" value="" >{{ programsid.program_discription }}</textarea></td>
  </tr>
  <tr>
    <td>Event:</td>
    <td><select name="select1">
                <option value="{{ programsid.EVENTS.id }}"> {{ programsid.EVENTS.event_name }}</option>
            {% for i in eventdata %}
          <option value="{{ i.id }}">{{ i.event_name }}</option>
            {% endfor %}

        </select>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="Save" /></td>
    </tr>
</table>
</form>
</body>
</html>
