<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/sadmin_viewperfomance1/" method="post">  <table width="407" border="0">

<tr>
    <th width="173">Perfomance&nbsp;Name</th>
    <td width="218">{{ viewdata.performance_name }}</td>
  </tr>
  <tr>
    <td  colspan="2"><img src="{{ viewdata.uploaded_files }}" width="500" height="350" ></td>
    </tr>
	 <tr>
    <td  colspan="2"><button name="back" type="submit">Back</button></td>
    </tr>
</table>
</form>
</body>
</html>
