<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td><a href="/earts/sadmin_viewprofileload/">Profile</a></td>
    </tr>
    <tr>
        <td><a href="/earts/sadmin_addeventload/">Add Events</a></td>
    </tr>
    <tr>
        <td><a href="/earts/sadmin_vieweventsload/">view Events</a></td>
    </tr>
    <tr>
        <td><a href="/earts/sadmin_addjudgesload/">Add Judges</a></td>
    </tr>
    <tr>
        <td>
            <a href="/earts/sadmin_viewjudgesload/">View Judges</a>
        </td>
    </tr>
     <tr>
        <td>
            <a href="/earts/sadmin_addprogramcommitteeload/">Add Program Committee</a>
        </td>
    </tr>
      <tr>
        <td>
            <a href="/earts/sadmin_viewprogramcommitteeload/">View Program Committee</a>
        </td>
    </tr>
    <tr><th><a href="/earts/loginload/">LOG OUT</a></th>
</tr>
</table>


</body>
</html>