<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/sadmin_addjudgespost/" method="post" enctype="multipart/form-data"><table width="200" border="1">
  <tr>
    <th scope="col">Judge Name</th>
    <th scope="col"><input type="text" name="textfield"/></th>
  </tr>
  <tr>
    <th>Gender</th>
    <td><p>
      <input name="r1" type="radio" value="male" />
      Male&nbsp;
      </p>
      <p>
        <input name="r1" type="radio" value="female" />
      Female  </p></td>
  </tr>
  <tr>
    <th>Place</th>
    <td>
      <input type="text" name="textfield1" />
    </td>
  </tr>
  <tr>
    <th>PIN</th>
    <td>
      <input type="text" name="textfield2" />
    </td>
  </tr>
  <tr>
    <th>Post</th>
    <td><label>
      <input type="text" name="textfield3" />
    </label></td>
  </tr>
  <tr>
    <th>District</th>
    <td>
      <input type="text" name="textfield4" />
    </td>
  </tr>
  <tr>
    <th>Image</th>
    <td>
      <input type="file" name="file" />
    </td>
  </tr>

  <tr>
    <th>eMail</th>
    <td>
      <input type="text" name="textfield5" />
    </td>
  </tr>
  
  <tr>
    <td colspan="2">
      <input type="submit" name="Submit" value="Submit" />
   </td>
    </tr>
</table>
</form>
</body>
</html>
