{% extends 'subadmintemplates/subadminhome.html' %}


{% block body %}
<div class="main-container">
<div class="card-box pd-20 height-100-p mb-30">
<form action="/earts/sadmin_editeventspost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
<input type="hidden" name="evid" value="{{ a.id }}" />
<div class="pd-20">
						<h4 class="text-blue h4">Edit Event</h4>
					</div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event&nbsp;Name</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Event Name" value="{{ a.event_name }}" name="textfield">
		</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event Date</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control date-picker" placeholder="Select Date" type="text" value="{{ a.event_date }}" name="textfield1" >
		</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event Discription</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="textarea" placeholder="Enter Discriptions" value="{{ a.event_discription }} " name="textfield2">
		</div>
  </div>
  <div align="center">       <button onclick="window.location.href='/earts/sadmin_vieweventsload/'" class="btn btn-outline-primary">Back</button>

       <button type="submit" class="btn btn-outline-primary">Save</button>

  </div>

</form>
</div></div>
{% endblock %}