{% extends 'subadmintemplates/subadminhome.html' %}
{% block body %}
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="row">
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Programs Table</h4>
                    <form action="/earts/sadmin_viewprogramsload/" method="post">
                         <div id="DataTables Table_0_filter" class="dataTables_filter" align="right">
                          <label>
                             <input type="search" class="form-control form-control-sm" name="textfield" placeholder="Search Programs" aria-controls="DataTables_Table_0">
                              <button type="submit" class="btn btn-outline-primary">Search</button>
                          </label>
                        </div></form>
						<table class="data-table table stripe hover nowrap" style="width:1200px">
							<thead>
								<tr>
                                  <th >Sl.no</th>
                                    <th >Program&nbsp;Name </th>
                                    <th >Program&nbsp;Type </th>
                                       <th >Program&nbsp;Discription </th>
                                      <th >Event</th>
                                    </tr>
							</thead> {% for i in prgmsdata %}
							<tbody>
								<tr>
									<td height="61">{{ forloop.counter }}</td>
                                     <td>{{ i.program_name }}</td>
                                     <td>{{ i.program_type}}</td>
                                     <td>{{ i.program_discription}}</td>
                                     <td>{{i.EVENTS.event_name}}</td>
                                 </tr>

							</tbody> {% endfor %}
						</table>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}
