<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/earts/sadmin_viewprogramcommitteeload/"><table width="380" border="1">
  <tr>
    <td colspan="2">Program&nbsp;Committee </td>
    <td colspan="2">Events: &nbsp; <select name="select2">
            {% for i in event %}
          <option value="{{ i.id }}">{{ i.event_name }}</option>
            {% endfor %}

        </select> </td>
    <td width="122"><label>
      <input type="submit" name="search" value="Search" />
    </label></td>
  </tr>
  <tr>
    <td width="50">#</td>
    <td width="70">Staff&nbsp;Name </td>
    <td width="18">Event&nbsp;Name </td>
    <td colspan="2">&nbsp;</td>
    </tr>
    {% for i in prgmcdata %}
  <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.STAFF.st_name }}&nbsp;</td>
      <td>{{ i.EVENTS.event_name}}&nbsp;</td>
    <td ><a href="/earts/sadmin_editprogramcommitteeload/{{ i.id }}">Edit</a></td>
    <td><a href="/earts/sadmin_deleteprogramcommittee/{{ i.id }}">Delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
