{% extends 'subadmintemplates/subadminhome.html' %}


{% block body %}
<div class="main-container">
<div class="card-box pd-20 height-100-p mb-30">
<form action="/earts/sadmin_editjudgespost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
<input type="hidden" name="jid" value="{{ jd.id }}"/>
<div class="pd-20">
						<h4 class="text-blue h4">Edit Judges</h4>
					</div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Judges Name</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" value="{{ jd.judge_name}}" placeholder="Enter Name" name="textfield">
		</div>
  </div>
  <div class="form-group row">
	    <label class="col-sm-12 col-md-2 col-form-label">Gender</label>
	    {% if jd.gender == 'male' %}
      <div class="custom-control custom-radio mb-6">
      					<input type="radio" id="customRadio4" name="r1" value="male" class="custom-control-input" checked="checked">
					<label class="custom-control-label" for="customRadio4">Male</label>
      </div>
      <div class="custom-control custom-radio mb-6">
					<input type="radio" id="customRadio5" name="r1" value="female"  class="custom-control-input">
					<label class="custom-control-label" for="customRadio5">Female</label>
	  	   </div>{% endif %}
	   {% if jd.gender == 'female' %}
      <div class="custom-control custom-radio mb-6">
      					<input type="radio" id="customRadio4" name="r1" value="male" class="custom-control-input">
					<label class="custom-control-label" for="customRadio4">Male</label>
      </div>
      <div class="custom-control custom-radio mb-6">
					<input type="radio" id="customRadio5" name="r1" class="custom-control-input" value="female"checked="checked">
					<label class="custom-control-label" for="customRadio5">Female</label>
	  </div>
	   {% endif %}</div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Place</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" value="{{ jd.place }}" placeholder="Enter Place" name="textfield1">
		</div>
  </div>
     <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">PIN</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="number" placeholder="Enter PIN" value="{{ jd.pin }}" name="textfield2">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Post</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Post" value="{{ jd.post }}" name="textfield3">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">District</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter District" value="{{ jd.district }}" name="textfield4">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Image</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="file"  name="file">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Email</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="email" placeholder="Enter Email Address" value="{{ jd.email }}" name="textfield5">
		</div>
  </div>
    <div align="center">
       <button onclick="window.history.back()" class="btn btn-outline-primary">Back</button>
       <button type="submit" class="btn btn-outline-primary">Save</button>

  </div>
</form>
</div></div>
{% endblock %}