<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/earts/sadmin_editeventspost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
     <input type="hidden" name="evid" value="{{ a.id }}" />
  <table width="200" border="1">
    <tr>
      <td scope="col"><div align="left">Event&nbsp;Name </div>        </td>
      <td scope="col">
        <input type="text" name="textfield" value="{{ a.event_name }}" />
      </td>
    </tr>

    <tr>
      <td>Event&nbsp;Date</td>
      <td>
        <input type="date" name="textfield1" value="{{ a.event_date }}"/>
      </td>
    </tr>

    <tr>
      <td> Event&nbsp;Discription</td>
      <td>
        <textarea name="textfield2" value="">{{ a.event_discription }}</textarea>
      </td>
    </tr>


    <tr>
      <td colspan="2">
        <input type="submit" name="Submit" value="Save" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>
