{% extends 'admintemplates/index.html' %}


{% block body %}
<div class="main-container">
<div class="card-box pd-20 height-100-p mb-30">
<form action="/earts/admin_addstudentpost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
<div class="pd-20">
						<h4 class="text-blue h4">Add Student</h4>
					</div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Student&nbsp;Name</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Name" name="textfield">
		</div>
  </div>
  <div class="form-group row">
	    <label class="col-sm-12 col-md-2 col-form-label">Gender</label>
      <div class="custom-control custom-radio mb-6">
					<input type="radio" id="customRadio4" name="radiobutton" value="male" class="custom-control-input">
					<label class="custom-control-label" for="customRadio4">Male</label>
      </div>

      <div class="custom-control custom-radio mb-6">
					<input type="radio" id="customRadio5" name="radiobutton"  value="female" class="custom-control-input">
					<label class="custom-control-label" for="customRadio5">Female</label>
      </div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Place</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Place" name="textfield1">
		</div>
  </div>
     <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">PIN</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="number" placeholder="Enter PIN" name="textfield2">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Post</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Post" name="textfield3">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">District</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter District" name="textfield4">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Image</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="file"  name="file">
		</div>
  </div>
    <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Email</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="email" placeholder="Enter Email Address" name="textfield5">
		</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Course</label>
									<div class="col-sm-12 col-md-10">
									<select class="selectpicker form-control" data-style="btn-outline-primary" data-size="5" name="select">
            {% for i in data %}
          <option value="{{ i.id }}">{{ i.course_name }}</option>
            {% endfor %}

        </select>
									</div>
								</div>
    <div align="center">
       <button type="submit" class="btn btn-outline-primary">Submit</button>

  </div>
</form>
</div></div>
{% endblock %}