<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="submit"><table width="511" border="1">
  <tr>
    <th width="82" scope="col">Event</th>
    <th width="132" scope="col"><select name="events" id="Events" >
        </select></th>
    <th width="132" scope="col">Program</th>
    <th width="41" scope="col"><label>
      <select name="select">
      </select>
    </label></th>
    <th width="90" scope="col">
      <input type="submit" name="Submit" value="Go" /></th>
    </tr>
	</table>
	
	<br />
	<table width="417" border="1">
  <tr>
    <th width="27">#</th>
    <th width="97">&nbsp;Staff&nbsp;Name </th>
    <th width="114">Event&nbsp;Name </th>
    <th width="151">Date</th>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</form>
</body>
</html>
