<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="submit"><table width="362" border="1">
  <tr>
    <th width="76" scope="col">Events:</th>
    <th scope="col"><select name="events" id="Events" >
    </select></th>
    <th colspan="2" scope="col">Programs:</th>
    <th width="82" scope="col"><select name="select" id="select" >
    </select></th>
    <th width="82" scope="col">
      <input type="submit" name="Submit" value="Go" /></th>
    </tr>
	</table>
	
	<br />
	<table width="447" border="1">
  <tr>
    <th width="25">#</th>
    <th width="106">&nbsp;Student&nbsp;info </th>
    <th width="149">Complaints</th>
    <th width="53">Date</th>
    <th width="80" rowspan="2"><a href="#">Reply</a></th>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</form>
</body>
</html>