<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/earts/admin_editsubadminpost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <input type="hidden" name="sbid" value="{{ s.id }}"/>
  <table width="200" border="1">
    <tr>
      <th scope="col"><div align="left">Subadmin&nbsp;Name </div></th>
      <td scope="col"><label>
        <input type="text" name="textfield" value="{{ s.subadmin_name}}" />
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>


          {% if s.gender == 'male' %}
               <td>
        <input name="r1" type="radio" value="male" checked="checked" />
        Male
        <input name="r1" type="radio" value="female"/>
      Female</td>
        {% endif %}

{% if s.gender == 'Female' %}
     <td>
        <input name="r1" type="radio" value="male" />
        Male
        <input name="r1" type="radio" value="female" checked="checked" />
      Female</td>
        {% endif %}

    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield1"  value="{{ s.place }}"/>
      </label></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label>
        <input type="text" name="textfield2" value="{{ s.pin }}"/>
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" value="{{ s.post }}" />
      </label></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label>
        <input type="text" name="textfield4" value="{{ s.district}}"/>
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" value="{{ s.email }}" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="Submit" value="Save" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>
