<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="submit"><table width="362" border="1">
  <tr>
    <th width="76" scope="col">Events:</th>
    <th colspan="2" scope="col"><select name="events" id="Events" >
      <option>Annual Day</option>
      <option>onam_celeb</option>
      <option>Events</option>
            </select></th>
    <th width="82" scope="col">
      <input type="submit" name="Submit" value="View" /></th>
    </tr>
	</table>
	
	<br />
	<table width="361" border="1">
  <tr>
    <th width="25">#</th>
    <th width="106">&nbsp;Staff&nbsp;Name </th>
    <th width="122">Event&nbsp;Name </th>
    <th width="80">Date</th>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</form>
</body>
</html>
