<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/earts/admin_addstudentpost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <td scope="col"><div align="left">Student&nbsp;Name </div></td>
      <td scope="col"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" />
        Male 
        <input name="radiobutton" type="radio" value="female" />
      Female</label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield1" />
      </label></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
      <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr
    <tr>
      <td>Course&nbsp;Name </td>
      <td><label>
        <select name="select">
            {% for i in data %}
          <option value="{{ i.id }}">{{ i.course_name }}</option>
            {% endfor %}

        </select>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
