{% extends 'admintemplates/index.html' %}


{% block body %}
<div class="main-container">
<div class="card-box pd-20 height-100-p mb-30">
<form action="/earts/admin_addeventpost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event&nbsp;Name</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Event Name" name="textfield">
		</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event Date</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control date-picker" placeholder="Select Date" type="text" name="textfield1">
		</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Event Discription</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Enter Discriptions" name="textfield2">
		</div>
  </div>
  <div align="center">
       <button type="submit" class="btn btn-outline-primary">Submit</button>

  </div>

</form>
</div></div>
{% endblock %}