<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><form action="/earts/admin_editstaffpost/" method="post" enctype="multipart/form-data">
     <input type="hidden" name="stfid" value="{{ a.id }}"/>
    <table width="200" border="1">
  <tr>
    <th scope="col">Name</th>
    <th scope="col"><input type="text" name="textfield" value="{{ a.st_name }}"/></th>
  </tr>
  <tr>
    <td>Gender</td>
      {% if a.gender == 'male' %}
    <td><p>
      <input name="r1" type="radio" value="male"  checked="checked"/>
      Male&nbsp;
      </p>
      <p>
        <input name="r1" type="radio" value="female" />
      Female  </p></td>
      {% endif %}




  {% if a.gender == 'female' %}
    <td><p>
      <input name="r1" type="radio" value="male"  />
      Male&nbsp;
      </p>
      <p>
        <input name="r1" type="radio" value="female"  checked="checked"/>
      Female  </p></td>
      {% endif %}

  </tr>
  <tr>
    <th>Place</th>
    <td>
      <input type="text" name="textfield1" value="{{ a.place }}"/>
    </td>
  </tr>
  <tr>
    <th>PIN</th>
    <td>
      <input type="text" name="textfield2" value="{{ a.pin }}"/>
    </td>
  </tr>
  <tr>
    <th>Post</th>
    <td><label>
      <input type="text" name="textfield3" value="{{ a.post }}"/>
    </label></td>
  </tr>
  <tr>
    <th>District</th>
    <td>
      <input type="text" name="textfield4" value="{{ a.district }}"/>

  </tr>
  <tr>
    <td>Image</td>
    <td>
      <input type="file" name="file" />
    </td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td><select name="select" size="1">

      <option value="{{ a.qualification }}">{{ a.qualification }}</option>
      <option>Plus two</option>
            </select></td>
  </tr>
  <tr>
    <td>eMail</td>
    <td>
      <input type="text" name="textfield5" value="{{ a.email }}"/>
    </td>
  </tr>
  <tr>
    <td>Department</td>
    <td><label>
      <select name="select2">
        <option value="{{ a.department }}">{{ a.department }}</option>
        <option>BCOM</option>
        <option>BSC</option>
        <option>BCA</option>
        <option>BA</option>
      </select>
    </label></td>
  </tr>
  <tr>
    <td colspan="2"><label>
      <input type="submit" name="Submit" value="Save" />
    </label></td>
    </tr>
</table>
</form>
</body>
</html>
