{% extends 'admintemplates/index.html' %}
{% block body %}
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="row">
				<div class="card-box mb-30">
					<div class="pd-20">
                    <form id="form1" name="form1" method="post" action="/earts/admin_viewjudgesload/">
						<h4 class="text-blue h4">Judges Table</h4>
						<form action="/earts/admin_viewprogramcommitteeload/" method="post"><table width="362" border="1">
                            <div class="pd-10">
                            <h6 class="text-blue h6">Search Judges:</h6>
                            <input type="text" name="textfield" placeholder="Search" />
                            <button type="submit" class="btn btn-outline-primary">view</button></div></form>
					     <div id="DataTables Table_0_filter" class="dataTables_filter" align="center">
					     <div id="DataTables Table_0_filter" class="dataTables_filter" align="right">
                                                   </div>
						<table class="data-table table stripe hover nowrap" style="width:1200px">
							<thead>
								<tr>
                                  <th width="131" height="33">#</th>
                                  <th width="140">Event&nbsp;Name </th>
                                    <th width="185">Program&nbsp;Name</th>
                                     <th colspan="2">Judge Name</th>
                                    </tr>
							</thead> {% for i in data  %}
							<tbody>
								<tr>
									<td height="61">{{ forloop.counter }}</td>
                                    <td>{{i.EVENTS.event_name}}</td>
                                     <td>{{ i.PROGRAMS.program_name }}</td>
                                     <td>{{ i.JUDGES.judge_name }}</td>

								</tr>

							</tbody> {% endfor %}
						</table>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
                <a href="https://github.com/dropways" target="_blank"></a>
	</div>
{% endblock %}
