<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="//"><table width="767" border="1">
  <tr>
    <th colspan="2"> </th>
    <th colspan="2">judge Name:&nbsp; <input name="textfield" type="text" /> </th>
    <td colspan="3"><label>
      <input type="submit" name="search" value="Search" />
    </label></td>
  </tr>
  <tr>
    <th width="131" height="33">#</th>
    <th width="140">Event&nbsp;Name </th>
    <th width="185">Program&nbsp;Name</th>
    <th colspan="2">Judge Name</th>
    </tr>
    {% for i in data  %}
  <tr>
      <td height="61">{{ forloop.counter }}</td>
      <td>{{i.EVENTS.event_name}}</td>
      <td>{{ i.PROGRAMS.program_name }}&nbsp;</td>
      <td>{{ i.JUDGES.judge_name }}&nbsp;</td>

  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>