<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="3">
    <tr>
        <td><a href="/earts/admin_addsubadminload/">Add Subadmin</a></td>
        <td><a href="/earts/admin_viewsubadminload/">View Subadmin</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_addeventload/">Add Event</a></td>
        <td><a href="/earts/admin_vieweventsload/">view Event</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_addstaffload/">Add Staff</a></td>
        <td><a href="/earts/admin_viewstaffload/">View Staff</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_addstudentload/">Add Student</a></td>
        <td><a href="/earts/admin_viewstudentload/">View Student</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_addcourseload/">Add Course</a></td>
        <td><a href="/earts/admin_viewcourseload/">View Course</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_viewprogramcommitteeload/">View Program Committee </a></td>
        <td><a href="/earts/admin_viewjudgesassgnload/">View Judges Assigns</a></td>
    </tr>
    <tr>
        <td><a href="/earts/admin_viewcommentsreplyload/">View Complaints & Reply</a></td>
        <td><a href="/earts/admin_viewcommentsratingload/">View Comments & Rating </a></td>
    </tr>
    <tr>
        <th> <a href="/earts/loginload/">LOG OUT</a></th>
    </tr>
</table>
</body>
</html>